@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

/* Global styles */
* {
    font-family: "Montserrat", sans-serif;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    color: white;
}

p {
    color: white;
}

/* Doctors section */
#doctors {
    display: flex;
    flex-direction: column;
    font-weight: 700;

}

#doctors h2 {
    color: white;
    margin: 0;
}

#doctors ul {
    height: 100%;
}

#doctors ul li {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr;
    margin-top: 2rem;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
}

#doctors ul li img {

    border-radius: 50%;
    margin-right: 1rem;
    background-color: white;
}

#doctors ul li h2,
#doctors ul li p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

#doctors button {
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
}

#doctors button:hover {
    background-color: rgb(53, 53, 53);
}

#doctors ul form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#doctors ul form button {

    width: fit-content;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;

}

#doctors ul form .time-button {
    width: 100%;
}

#doctors ul form input[type="date"] {
    padding: 2rem;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.5s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

#doctors ul form input[type="date"]:focus {
    outline: none;
}

#doctors ul form input[type="date"]:hover {
    color: rgb(53, 53, 53);
}

#doctors ul form button:hover {
    background-color: rgb(53, 53, 53);
    color: white;
}

#doctors ul form label {
    color: white;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}


/* Appointment page */
#appointment-page-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.main-function {
    margin-top: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

/* Doctors before click */
.doctors-before-click {
    width: 70%;

}

.doctors-before-click ul li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    margin-top: 2rem;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    background-color: #5a90b4;
    padding: 1rem;
    border-radius: 20px;
}

.doctors-before-click img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: white;

}

.doctors-before-click ul li form .time-button {
    width: 100%;
}

.doctors-before-click ul li h2,
.doctors-before-click ul li p {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;
    padding: 1rem;
}

.doctors-before-click button {
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
}

.doctors-before-click button:hover {
    background-color: rgb(53, 53, 53);
}

.doctors-before-click ul form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.doctors-before-click ul form button {
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.doctors-before-click ul form input[type="date"] {
    padding: 2rem;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.5s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.doctors-before-click ul form input[type="date"]:focus {
    outline: none;
}

.doctors-before-click ul form input[type="date"]:hover {
    color: rgb(53, 53, 53);
}

.doctors-before-click ul form button:hover {
    background-color: rgb(53, 53, 53);
    color: white;
}

.doctors-before-click ul form label {
    color: white;
    font-size: 1.5rem;
}

/* Doctors on click */

.doctors-on-click {
    width: 50%;
}

.doctors-on-click ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 0.5px solid #72b6e4;
}

.doctors-on-click img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 2rem;
}

.doctors-on-click ul li h2 {
    font-size: 2.5rem;
    color: white;
    padding: 0;
}

.doctors-on-click ul li p {
    font-size: 1.5rem;
}

.doctors-on-click button {
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #72b6e4;
}

.doctors-on-click button:hover {
    background-color: #72b6e4;
}


.confirm-doctor-btn:hover {
    background-color: rgb(53, 53, 53);
}

/* Appointment details */
#appointment-details {
    color: black;
    width: 50%;
}

#appointment-details h2 {
    color: white;
}

#cancel-appointment-btn,
#cancel-appointment-btn .back-btn {
    color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
}

#cancel-appointment-btn:hover,
.back-btn:hover {
    color: whitesmoke;
}

#appointment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#appointment-details button:hover {
    background-color: rgb(53, 53, 53);
}

#selected-appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    background-color: #5a90b4;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 60%;
}

#selected-appointment strong {
    color: rgb(53, 53, 53);
}

#selected-appointment img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

#selected-appointment p {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.time-button {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.time-button.selected {
    background-color: #69d18a;
    color: white;
}

.confirm-btn,
.back-btn {
    margin-top: 5px;
}

#appointment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#appointment-details a {
    font-size: 1.5rem;
    display: block;
    width: fit-content;
    padding: 10px;
    background-color: #72b6e4;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

#appointment-details a:hover {
    background-color: rgb(53, 53, 53);
}

#appointment-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;

}



/* Media Queries */

/* For phones */
@media only screen and (max-width: 600px) {

    #doctors ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;

    }


    #appointment-details {
        width: 100%;
    }

    #selected-appointment {
        width: 100%;
    }

    #selected-appointment img {
        width: 170px;
        height: 170px;
    }

    #doctors ul form .time-button {
        width: 50%;
        margin: 0;
    }

    .doctors-on-click img {
        width: 150px;
        height: 150px;

    }

    .doctors-before-click ul li,
    .doctors-before-click ul li h2,
    .doctors-before-click ul li p,
    .doctors-before-click ul li button,
    .doctors-before-click ul li form,
    .doctors-before-click ul li form button,
    .doctors-before-click ul li form input[type="date"],
    .doctors-before-click ul li form label {
        width: 100%;
    }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #doctors ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    .doctors-before-click ul li,
    .doctors-before-click ul li h2,
    .doctors-before-click ul li p,
    .doctors-before-click ul li button,
    .doctors-before-click ul li form,
    .doctors-before-click ul li form button,
    .doctors-before-click ul li form input[type="date"],
    .doctors-before-click ul li form label {
        width: 100%;
    }

    #appointment-details {
        width: 70%;
    }

    #selected-appointment {
        width: 100%;
    }


    #selected-appointment img {
        width: 170px;
        height: 170px;
    }
}

/* For larger screens */
@media only screen and (min-width: 1025px) {
    /* Update styles for larger screens here */
}




/* filters */
.filter-block {}

.filter-block h2 {
    color: white;
}

.filter-block select {
    padding: 0.5rem;
    color: white;
    background-color: #5a90b4;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.filter-block select:hover {
    background-color: #72b6e4;

}