html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #2378ab;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  width: 100%;
  padding: 0.5rem;
  background-color: #2378ab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.5rem;
  margin-left: 1rem;
}

.clinic-name {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  padding-left: 10px;
}
.clinic-name-welcome {
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  padding-bottom: 2rem;
}

.auth-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Main content */
main {
  text-align: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome_logo img {
  max-width: 40%;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

/*login div*/
.login-container {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 40px 120px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #2378ab;
  font-size: 1.75rem;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(2, 116, 153, 0.2);
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #d2d2d2;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

a {
  color: #2378ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  transition: background-color 0.3s;
  width: 350px;
  height: 50px;
  padding: 10px;
  background-color: #2378ab;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.login-button {
  width: 100%;
}
.appointment_button {
  background-color: #fff;
  color: #2378ab;
}
.appointment_button:hover {
  background-color: #82c5ef;
}

button:hover {
  background-color: #3ea7c0;
}
.small_txt {
  font-size: 0.8rem;
}
/*background*/
.svg-background {
  width: 100%;
  height: 100%;
  background-image: url("assets/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.svg-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 176, 234, 0.7);
  z-index: -1;
}

/*footer*/

footer {
  padding: 5px;
  color: white;
}

/*error email*/

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}
/*wellcome page*/
.txt_white {
  color: white;
}
.login_header {
  margin-right: 1rem;
}
@media (max-width: 480px) {
  .login-container {
    padding: 20px;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  #appointment-button {
    font-size: 1rem;
    padding: 10px;
  }
}
